*.suo
lib/parser/ALL_BUILD.vcxproj
*.filters
lib/parser/CMakeFiles/3.3.2/CMakeCCompiler.cmake
*.cmake
*.bin
*.c
lib/parser/CMakeFiles/3.3.2/CompilerIdC/CompilerIdC.exe
*.vcxproj
lib/parser/CMakeFiles/3.3.2/CompilerIdC/Debug/CMakeCCompilerId.obj
*.tlog
*.log
lib/parser/CMakeFiles/generate.stamp.depend
*.list
*.check_cache
lib/parser/CMakeFiles/908b3814a511329a53d051e4912b39f3/generate.stamp.rule
*.obj
lib/parser/CMakeFiles/3.3.2/CompilerIdCXX/CompilerIdCXX.exe
lib/parser/CMakeFiles/3.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.cxx
lib/parser/CMakeFiles/generate.stamp
lib/parser/CMakeFiles/TargetDirectories.txt
*.sdf
*.sln
lib/parser/CMakeCache.txt
*.lib
*.pdb
lib/parser/Parser.opensdf
*.exe
CMakeFiles/3.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.rule
CMakeFiles/generate.stamp
*.depend
CMakeFiles/TargetDirectories.txt
CMakeCache.txt
*.ilk
lib/CMakeFiles/3.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.stamp
lib/CMakeFiles/TargetDirectories.txt
*.cache
lib/sat/CMakeFiles/3.3.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
lib/sat/CMakeFiles/TargetDirectories.txt
satisy.opensdf
*.aux
doc/manual/Main.maf
*.mtc
doc/manual/Main.mtc0
*.mtc1
doc/manual/Main.mtc2
doc/manual/Main.pdf
doc/manual/Main.synctex.gz
*.toc
solver.vcxproj.user
*.opensdf